@import url(null.css);

@import url(https://fonts.googleapis.com/css?family=Lato:regular,700italic,900);

body{ 
   background-color: rgb(218, 205, 187);
   

}
 .wrapper{
   margin: 0 auto;
   max-width: 100%;
   width: 810px;
   margin-bottom: 24px;
   box-shadow: 3px  4px 3px cornflowerblue;
   padding-left: 10px;
   padding-right: 12px;
   background-color: white;
}

.header{
  
   font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 46px;


}
.image{
  
   min-width: 360px;
   margin-top: 40px;
   margin-bottom: 60px;
}



.section{
   font-family: 'Lato';
   font-style: normal;
font-weight: 700;
font-size: 20px;
   margin-bottom:24px;
}

.main__section-1{
   color: #424551;
   font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
margin-bottom: 24px;
}

.main__section-2{
   color: #424551;
   font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
margin-bottom: 48px;
}


.footer__title{
   font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 20px;
margin-left: 58px;
margin-bottom: 48.5px;
}

.footer__text{
   color: #424551;
   font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
margin-bottom: 26px;
}
.list{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   margin-left: 34px;
   margin-bottom: 24.5px;
   line-height: 160%;
   color: #424551;
}


.footer___last-text{
   font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #424551;
margin-bottom: 58px;
}

.homework{
 opacity: 0.5;
     margin-bottom:30px ;
  margin: 0 0 0 auto;
   font-family: "Lato";
   background-color: darkcyan;
   width: 360px;
}
.scroll{
   border:  4px  dashed#424551;
   background-color: cyan;
   margin: 0 auto;
   width: 360px;
   overflow: scroll;
   display: block;
   max-height: 100px;
}

.span{
   border:  4px double
   
   #424551;
   max-width: 200px;
    margin-bottom:30px;
   text-decoration: dashed;
  
   background-color: burlywood;
}
.imagee{
   border: 4px dotted #c20daa;
   border-radius: 50%;
  display: block;
   margin: 0 0 0 auto;
   width: 200px;
}

.dsp{
   width: 360px;
   visibility: hidden;
}
