@import url(null.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,&display=swap);

body{
  
   font-family: Lato;
   width: 100%;
}

.wrapper{
   background: linear-gradient(90deg, rgba(0,209,252,1) 8%, rgba(0,202,244,1) 8%, rgba(0,187,229,1) 12%, rgba(77,198,140,1) 40%, rgba(0,212,255,1) 55%, rgba(2,0,36,1) 96%, rgba(0,212,255,1) 100%);}
.container{
   max-width:1230px;
   margin: 0 auto;
   
}
.title{
   color: #1E212C;
   font-weight: 900;
font-size: 46px;
line-height: 130%;
margin-bottom: 40px;
}

.text{
   margin-bottom: 48px;
   font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #424551;
}
.sub-text{

   font-weight: 700;
font-size: 16px;
line-height: 150%;
color: #1E212C;
margin-bottom:8px ;
}
.sub-title{
   font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 150%;
margin-bottom: 24px;
color: #1E212C;
}
.list {
   
   font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #424551;
margin-bottom: 150px;
}
.list li{
   background: url("../img/icons/icon.svg")  no-repeat 0 6px ;
   padding-left: 32px;

}
.some-list{
   
   font-weight:700;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
   margin-bottom:32px ;
}
.star{
background: url("../img/icons/star.svg") no-repeat 0 6px    ;
padding-left: 24px;  
}

.play{
   background: url("../img/icons/play.svg") no-repeat 0 6px    ;
   padding-left: 24px;  
   }
  .man{
   
      background: url("../img/icons/man.svg") no-repeat 0 6px    ;
      padding-left: 24px;  
      
  } 

.some-title{
   font-weight: 400;
font-size: 20px;
line-height: 150%;
margin-bottom: 32px;
color: #787A80;
}
.images{
   margin-bottom: 40px;
}

.link:hover{
   text-align: center;
   color: hotpink;
   border: 50%;
   width: 75px;
   border-radius: 2px;
   margin: 0 auto;
   background-color: #424551;
   
   

}

.some{
   margin-bottom: 40px;
}
.some:hover{
   text-decoration: line-through;
   color: red;
   
   

}


.texts .texts__item{
   visibility: hidden;
   max-width: 810px;
   margin: 0 auto;
   opacity: 0;

}

.texts:hover .texts__item{
   background-color:red ;
   opacity: 1;
   visibility:visible;
}
a{
   line-height: 150%;
}
a:visited{
   color: purple;

}
ul{
   margin-left: 20px;
}
ul ul{
   display: none;
}
ul li:hover ul{
   color: yellowgreen;
   display: block;
}
ul li:hover{
   color:red;
}
.block{
   background-color: yellowgreen;
  display: none;
}
.block:target{
   display: block;
}
.input{
   border-radius: 300px;
   background-color: rgb(43, 255, 0);
margin: 20px 30px 20px ;
font-family: Lato;
font-weight: 900;
}
.this_text{
   height: 300px;
   background-color: yellowgreen;
   padding: 15px;
   line-height: 120%;
   color: #fff;
   margin-bottom: 40px;

}
.this_text p{
   margin-bottom: 25px;

}
.this_text p:first-child:hover{
   color: rgb(222, 135, 189);
}
.this_text p:nth-child(2):hover{
   color: aquamarine;
}
.this_text p:nth-child(3):hover{
   background-color: chartreuse;

}
.this_text p:nth-child(4):hover{
  
   color: rgba(0, 51, 255, 0.918);
}
.container__footer{
   width: 1230px;
   margin: 0 auto;
}

   


